<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<!-- 配置 session-factory 节点 -->
	<session-factory>
		<!-- 连接数据库的基本信息: user, password, url, driverClass -->
		<property name="connection.username">scott</property>
		<property name="connection.password">tiger</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:test</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>

		<!-- 配置数据库方言 -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!-- 在进行数据库相关操作时, 是否在控制台打印 SQL 代码 -->
		<property name="show_sql">true</property>

		<!-- 映射 -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- 关联 Hibernate 映射文件 -->
		<mapping resource="hibernate3/conf/user.hbm.xml" />
		<mapping resource="hibernate3/conf/UserVO.hbm.xml" />
		
		<!-- 映射组成关系 -->
		<mapping resource="hibernate3/conf/component.hbm.xml"/>
		
		<!-- 映射多对一关联关系 -->
		<mapping resource="hibernate3/conf/many2one.hbm.xml"/>
		<!-- <mapping resource="hibernate3/conf/one2many.hbm.xml"/>  -->
		
		<!-- 映射1对1关联关系 -->
		<!--  <mapping resource="hibernate3/conf/one2one.hbm.xml"></mapping>-->
		<mapping resource="hibernate3/conf/one2one2.hbm.xml"/>
		
		<!-- 映射多对多关联关系 -->
		<!-- 双向多对多映射 -->
		<mapping resource="hibernate3/conf/many2many.hbm.xml"/>
		<!-- 单向多对多映射 -->
		<mapping resource="hibernate3/conf/many2many2.hbm.xml"/>
		
		<!-- subclass继承映射 -->
		<mapping resource="hibernate3/conf/subclass.hbm.xml"/>
		
		<!-- joined继承映射 -->
		<mapping resource="hibernate3/conf/joined.hbm.xml"/>
		
		<!-- 进行union映射 -->
		<mapping resource="hibernate3/conf/union.hbm.xml"/>
		
		<!-- 映射ORACLE的USER_TABLES系统视图 -->
		<mapping resource="hibernate3/POJO/oracle/UserTablesVO.hbm.xml"/>
		
		<!-- 配置HQL查询 -->
		<mapping resource="hibernate3/conf/HQLQuery.hbm.xml"/>
	</session-factory>

</hibernate-configuration>